.place__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
        max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        margin: 0 16px;
        max-width: 288px;
    }
}