.place__button {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 248px;
    background: #0278FE;
    border-radius: 4px;
    text-decoration: none;
}

.place__button:hover {
    background: #0063D2;
}

@media screen and (max-width: 320px) {
    .place__button {
        min-width: 288px;
        justify-self: center;
    }
}