.cover__subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    width: 320px;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        width: 288px;
    }
}