.footer__link-box {
    display: flex;
    max-width: 211px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__link-box {
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
    }
}