.cover {
    position: relative;
    background-image: url(../../images/cover-field.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100vw;
    min-height: 740px;
    margin: 92px 0 0;
    z-index: 1;
}

.cover::before {
    content: '';
    opacity: 0.3;
    transition: 0.3s;
    position: absolute;
    background: #2A2C2F;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.cover:hover {
    opacity: 0.8;
    z-index: 1;
}

.cover:hover .cover__overlay {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .cover {
        max-height: 746px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 64px;
        min-height: 320px;
    }
}