.cover {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    margin: 92px 0 0;
}


@media screen and (max-width: 768px) {
    .cover {
        margin-top: 89px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 64px;
    }
}