.cover__background {
    text-decoration: none;
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    opacity: 0.3;
    margin: 0;
    z-index: 0;
    position: relative;
}

.cover__background::before {
    content: '';
    opacity: 0.3;
    transition: 0.3s;
    position: absolute;
    background: #2A2C2F;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover__background:hover::before {
    opacity: 0.8;
    background: #2A2C2F;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100%;    
    }
}