.cover__background {
    text-decoration: none;
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    margin: 0;
    z-index: 0;
    color: black;
    position: relative;
}

.cover__background::before {
    content: '';
    opacity: 0.8;
    transition: 0.3s;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover__background:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100%;    
    }
}