.footer {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 92px 0 0;
}


@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 0 0 16px;
        justify-content: center;
        max-width: 100%;
    }
}