.footer__list_item {
    text-decoration: none;
    margin: 0 18px 0 0;
}

.footer__list_item:last-child {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__list_item {
        margin: 0 0 32px;
    }
}