.cover__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
}

@media screen and (max-width: 320px) {
    .cover__content {
        align-items: none;
    }
}