.cover__content {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .cover__content {
        max-height: 99px;
    }
}