.cover__button-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
    align-self: center;
}